body {
  color: #cdd6f4;
  background-color: #1e1e2e;
}

::-moz-selection {
  background: #89b4fa;
  color: #cdd6f4;
  text-shadow: none;
}

::selection {
  background: #f38ba8;
  color: #cdd6f4;
  text-shadow: none;
}

hr {
  border-top: 3px dotted #89b4fa;
}
code {
  background-color: lightblue;
  color: black;
  text-decoration: bold;
  padding: 0.1em 0.2em;
}
pre {
  background-color: #313244;
  line-height: 1.4;
  overflow-x: auto;
  padding: 1em;
}
blockquote {
  border-color: #89b4fa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ddd;
}
h1::before {
  color: var(--darkMaincolor);
  content: "# ";
}
h2::before {
  color: var(--darkMaincolor);
  content: "## ";
}
h3::before {
  color: var(--darkMaincolor);
  content: "### ";
}
h4::before {
  color: var(--darkMaincolor);
  content: "#### ";
}
h5::before {
  color: var(--darkMaincolor);
  content: "##### ";
}
h6::before {
  color: var(--darkMaincolor);
  content: "###### ";
}

.toc {
  background-color: #272822;
  color: #cdd6f4;
}

a {
  border-bottom: 3px solid var(--darkMaincolor);
  color: inherit;
}
a:hover {
  background-color: var(--darkMaincolor);
  color: #11111b;
}

.site-description a {
  color: #cdd6f4;
}
.site-description a:hover {
  color: #11111b;
}

.tags a {
  border-bottom: 3px solid var(--darkMaincolor);
}
.tags a:hover {
  background-color: var(--darkMaincolor);
  color: #11111b;
}

.site-title a {
  color: #cdd6f4;
  text-decoration: none !important;
}

.header nav,
.footer {
  border-color: #333;
}

.highlight {
  background-color: #333;
}
.soc:hover {
  color: #11111b
}
.draft-label {
  color: var(--darkMaincolor);
  background-color: #89b4fa;
}
.highlight pre code[class=language-javaScript]::before,
.highlight pre code[class="language-js"]::before {
  content: "js";
  background: #f9e2af;
  color: #11111b;
}
.highlight pre code[class*='language-yml']::before,
.highlight pre code[class*='language-yaml']::before {
  content: 'yaml';
  background: #f38ba8;
  color: #cdd6f4;
}
.highlight pre code[class*='language-shell']::before,
.highlight pre code[class*='language-bash']::before,
.highlight pre code[class*='language-sh']::before {
  content: 'shell';
  background: #a6e3a1;
  color:#cdd6f4
}
.highlight pre code[class*='language-json']::before{
  content: 'json';
  background: dodgerblue;
   color: #000000 
}
.highlight pre code[class*='language-python']::before,
.highlight pre code[class*='language-py']::before {
  content: 'py';
  background: #89b4fa;
  color: #f9e2af;
}
.highlight pre code[class*='language-css']::before{
  content: 'css';
  background: #94e2d5;
  color: #11111b;
}
.highlight pre code[class*='language-go']::before{
  content: 'Go';
  background: #94e2d5;
  color: #89b4fa;
}
.highlight pre code[class*='language-md']::before,
.highlight pre code[class*='language-md']::before{
  content: 'Markdown';
  background: #89dceb;
  color: #cdd6f4 ;
}

.callout-alert {
  color: #cdd6f4;
  background-color: transparent;
  border-width: 3px;
  border-style: solid;
  border-color: #fab387;
}

.callout-custom {
  color: #cdd6f4;
}

.callout-tip {
  color: #cdd6f4;
  background-color: transparent;
  border-width: 3px;
  border-style: solid;
  border-color: #89b4fa;
}

.callout-warning {
  color: #cdd6f4;
  background-color: transparent;
  border-width: 3px;
  border-style: solid;
  border-color: #f9e2af;
}
